@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600&display=swap');

@font-face {
	font-family: 'Karben105Mono-Book';
	src:
		url('../fonts/karben.eot');
		src:
			url('../fonts/karben.eot?#iefix') format('embedded-opentype'),
			url('../fonts/karben.woff2') format('woff2'),
			url('../fonts/karben.woff') format('woff'),
			url('../fonts/karben.ttf') format('truetype');
}