body{
	padding: rem-calc(45 0);
	background: #000 url(../images/vega-background-medium.jpg) 100% 0 no-repeat;
	color: #fff;

	@media (min-width: $medium) {
		background-image: url(../images/vega-background-large.jpg);
	}

	@media (min-width: $large) {
		background-image: url(../images/vega-background-xlarge.jpg);
		background-size: 100% auto;
	}
}

.container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: rem-calc(0 25);

	@media (min-width: $medium) {
		padding: rem-calc(0 50);
	}
}

.column{
	width: 100%;
}

header .column{
	@media (min-width: 31.25rem){
		display: flex;
		justify-content: space-between;
	}
}

header .column .logo{
	width: rem-calc(140);
}

header .column .connect{
	margin-top: rem-calc(20);

	@media (min-width: 31.25rem){
		margin-top: 0;
		text-align: right;
		width: calc(100% - #{rem-calc(140)});
	}
}

.section{
	padding: rem-calc(40) 0;

	@media (min-width: $large) {
		padding: rem-calc(70) 0;
	}
}

.section + .section{
	padding-top: 0;
}

.constrain{
	max-width: rem-calc(510);
}

.constrain-text{
	max-width: rem-calc(480);
}


@media (min-width: $medium) {
	.column{
		width: 75%;
	}
}

@media (min-width: $large) {
	.column{
		width: 50%;
	}
}