body{
	font-family: 'Barlow';
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Karben105Mono-Book';
	font-weight: normal;
	line-height: 120%;
	margin-bottom: 1rem;
}

input, button, select, optgroup, textarea{
	font-family: 'Barlow';
	font-weight: 300;
}

p{
	line-height: 145%;
	font-size: rem-calc(18);

	@media (min-width: $medium) {
		font-size: rem-calc(20);
	}
}

p:last-child{
	margin-bottom: 0;
}

a{
	color: $vega_yellow;
	border-bottom: solid 1px $vega_yellow;
	padding-bottom: rem-calc(3);
	text-decoration: none;
}

a:hover{
	color: $vega_yellow;
	text-decoration: none;
	border: none;
}