.DS_Store
.env
.env.*
node_modules/
.cache/
public
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Local Netlify folder
gatsby-types.d.ts
.vercel
# Old translation strings
locals/**/*_old.json

