.banner-mainnet{
	position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  background-image: url(../images/gradient-background.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(100%);
  transition: transform 0.8s;

  &.show{
    transform: translateY(0);
  }
}

.banner-mainnet p{
  font-size: rem-calc(20);
  line-height: 0.9;
  margin: 0 0 3px 0;
  padding-right: rem-calc(100);
  max-width: rem-calc(400);

  @media (min-width: $reflex-md) {
    font-size: rem-calc(26);
    max-width: rem-calc(600);
  }
}

.banner-mainnet .close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: rem-calc(16);
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;

  span{
    position: relative;
    top: -1px;
    padding-left: rem-calc(5);
  }
}

.banner-mainnet-cta{
  font-size: rem-calc(26);
  text-transform: uppercase;
  padding: 0 6px;
  color: $black;
  background-color: #DFFF0B;

  span{
    background-image: linear-gradient(to right, #3C2CEE, #9702A1);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
}

.banner-mainnet > div{
  position: relative;
}

.banner-mainnet:after{
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-position: 50% 100%;
  background-size: 99px 62px;
  background-repeat: no-repeat;

  @media (min-width: $reflex-md) {
    background-size: contain;
    background-image: url(../images/flying.png);
  }
}