body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	//font-family: 'Neue Pixel Grotesk Regular';
	background-color: $vega_black;
	color: $white;
}

.site-header,
.site-container{
	&, a{
		color: $white;
	} 
}