body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: $vega_black;
	color: $white;
	line-height: 1.4;
	vertical-align: baseline;
}

::selection{
	background-color: $vega_yellow;
	color: $vega_black;
}

.js :focus{
	outline: none;
}

body:not(.js) :focus,
.js.user-is-tabbing :focus{
	outline: none;
	background-color: $vega_yellow !important;
	color: black !important;
}

.site-header,
.site-container{
	&, a{
		color: $white;
	}

	.link-highlight{
		color: $vega_yellow;
	}
}

.vega-logo-anim-anchor{
	display: block;
}

.vega-logo-anim{
	display: block;
	position: relative;
	z-index: 1;
}

.vega-logo-anim path{
	fill: $vega_white;
}

body:not(.js) .vega-logo-anim-anchor:focus .vega-logo-anim #frame0 rect,
.js.user-is-tabbing .vega-logo-anim-anchor:focus .vega-logo-anim #frame0 rect{
	fill: $vega_yellow;
}

body:not(.js)  .vega-logo-anim-anchor:focus .vega-logo-anim path,
.js.user-is-tabbing .vega-logo-anim-anchor:focus .vega-logo-anim path{
	fill: $vega_black;
}


// #cursor{
// 	position: fixed;
// 	width: rem-calc(15);
// 	height: rem-calc(15);
// 	background-color: $vega_yellow;
// 	z-index: 999999;
// 	opacity: 1;
// 	border-radius: 0;
// 	transition: transform 0.5s, opacity 0.5s, border-radius 0.5s;
// 	pointer-events: none;

// 	&.on-link{
// 		pointer-events: none;
// 		transform: scale(2);
// 		opacity: 0.4;
// 		border-radius: rem-calc(30);
// 	}
// }

// body.js{
// 	&, a, button, input, .clickable{
// 		cursor: none;
// 	}
// }