$white: #ffffff;
$black: #000000;

$vega_black: #000000;
$vega_white: #ffffff;
$vega_darkgrey: #6C6C6C;
$vega_yellow: #EDFF22;
$vega_darkyellow: #D8E33E;
$vega_darkyellow2: #878F2A;
$vega_limegreen: #00F780;
$vega_darklimegreen: #61EB7E;
$vega_pink: #FF2D5E;