.marquee-container{
	height: rem-calc(75);
}

.marquee-panel {
	padding: 0px;
}

.marquee{
	position: relative;
	border-top: solid 0px currentColor;
	font-size: rem-calc(26);
	text-transform: uppercase;
	background-color: $vega_black;
	line-height: rem-calc(75);
	height: rem-calc(75);
	letter-spacing: 0.02em;
	overflow: hidden;
	white-space: nowrap;
}

.marquee .marquee-inner {
	display: inline-block;
	animation: marquee 20s linear infinite;
}

.marquee-inner a{
    text-decoration: underline;
}

.marquee .marquee-inner:hover {
    animation-play-state: paused
}

@keyframes marquee {
	// 0%   { 
	// 	transform: translateX(100%); 		
	// }
	// 100% { 
	// 	transform: translateX(-100%); 
	// }

	0% { transform: translate(30%, 0); }
  100% { transform: translate(-100%, 0); }
}

.signup{
	position: relative;
	border-bottom: solid 3px currentColor;
	padding-bottom: rem-calc(8);
	display: flex;
}

.signup input[type="email"]{
	flex: 1;
	font-size: rem-calc(21);
	background-color: transparent;
	border: none;
	color: inherit;
	padding-right: rem-calc(15);
	padding: 0;

	&::placeholder{
		color: inherit;
	}
	
	&:focus{
		outline: none;
	}

	@media (min-width: $reflex-md) {
		font-size: rem-calc(31);
	}
}

.signup button{
	position: relative;
	top: 3px;
	border: none;
	background-color: transparent;
	color: inherit;
	text-transform: uppercase;
	cursor: pointer;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(31);
	}

	.icon{
		margin-left: rem-calc(10);
		font-size: rem-calc(16);

		@media (min-width: $reflex-md) {
			font-size: 76%;
		}
	}
}

.signup button svg{
	margin-left: rem-calc(10);
	width: rem-calc(24);
	height: rem-calc(24);

	path{
		fill: currentColor;
	}
}

.table-of-contents{
	position: sticky;
	top: 0;
	padding-bottom: rem-calc(120);
}

.table-of-contents .title{
	font-size: rem-calc(26);
	letter-spacing: 0.02em;
	display: block;
	line-height: 1;
	padding: 0 0 rem-calc(10) 0;
	text-transform: uppercase;
	border-bottom: solid 1px currentColor;

	.icon{
		font-size: rem-calc(20);
		padding-right: rem-calc(16);
	}
}

.table-of-contents ul{
	padding: 0;
	margin: 0;
}

.table-of-contents ul li{
	list-style-type: none;
	margin: 0;
}

.table-of-contents .toc-h1 > a{
	font-size: rem-calc(26);
	text-transform: uppercase;
	letter-spacing: 0.02em;
	line-height: 93%;
	padding: rem-calc(5) 0;
}

.table-of-contents li a{
	font-size: rem-calc(16);
	position: relative;
	display: block;
	text-transform: uppercase;
	border-bottom: solid 1px currentColor;
	padding: rem-calc(4) 0 rem-calc(5) 0;
	letter-spacing: 0.01em;
	line-height: 1.1;
}

.table-of-contents li.current a{
	padding-left: rem-calc(25);

	&::before{
		position: absolute;
		left: 0;
		top: -4px;
		content: '\25A0';
		font-size: rem-calc(25);
	}
}

.talk,
.paper{
	margin: 0;
	padding: 0;
	list-style-type: none;

	@media (min-width: $reflex-md) {
		border-right: solid 1px currentColor;
	}
}

.paper{
	border-bottom: solid 1px currentColor;
}

.talk li,
.paper li{
	position: relative;
	border-bottom: solid 1px currentColor;
	padding: #{$panel-padding}px;
	margin-bottom: 0;

	&:last-child{
		border-bottom: none;
	}

	@media (min-width: $reflex-md) {
		padding: #{$panel-md-padding}px #{$panel-md-padding}px #{$panel-md-padding*1.5}px #{$panel-md-padding}px;
	}
}

.talk li > .grid,
.paper li > .grid{
	padding-right: 15%;

	@media (min-width: $reflex-md) {
		padding-right: rem-calc(120);
	}
}

.talk li > .grid:after,
.paper li > .grid:after{
	position: absolute;
	top: rem-calc(3);
	right: 0;
	font-family: 'Vega';
	line-height: 1;
	font-size: rem-calc(58);
}

.talk li > .grid:after{
	content: "\e903";
}

.paper li > .grid:after{
	content: "\e902";
}

.talk .title,
.paper .title{
	margin: 0 0 rem-calc(15) 0;
	padding: 0 rem-calc(85) 0 0;
	text-transform: uppercase;
	line-height: 93%;
	letter-spacing: 0.02em;
	font-size: rem-calc(26);
	margin-bottom: rem-calc(25);
	font-weight: normal;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(29);
	}

	@media (min-width: $reflex-md) {
		font-size: rem-calc(34);
	}

	.date{
		color: $vega_darkgrey;

		.toggle-switch:checked ~ .site-container &{
			color: $vega_darkyellow2;
		}
	}
}

.back-to-top-hand{
	font-size: rem-calc(105);
	line-height: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: rem-calc($panel-padding);

	@media (min-width: $reflex-md) {
		padding: rem-calc($panel-md-padding);
	}

	.icon{
		display: block;
		position: relative;
		top: 2px;
	}
}

.team-list{
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: rem-calc(-10);
	margin-top: rem-calc(35);
	width: calc(100% + 20px);
}

.team-list li{
	font-size: rem-calc(16);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin-bottom: rem-calc(30);
	list-style-type: none;
	width: 49%;

	@media (min-width: $reflex-md) {
		width: 33%;
	}

	@media (min-width: $reflex-md) {
		width: 20%;
	}

	> div{
		padding: 0 rem-calc(10);
	}
}

.team-list li img{
	width: 100%;
	height: auto;
	margin-bottom: rem-calc(8);
}

.partners-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: solid 1px currentColor
}

.partners-list li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	border-bottom: solid 1px currentColor;
	font-size: rem-calc(16);
	margin-bottom: 0;
	padding: rem-calc(1) 0;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(24);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(34);
	}
}

.partners-list li a{
	font-size: rem-calc(16);
	text-decoration: underline;
	flex-shrink: 0;
}

.partners-list li a,
.partners-list li span{
	display: block;
}

.partners-list li span{
	padding-right: rem-calc(15);
}

.jobs{
	margin: 0;
	padding: 0;
	border-top: solid 1px currentColor;
	margin-top: rem-calc(50);
}

.jobs li{
	list-style-type: none;
	margin: 0;
	border-bottom: solid 1px currentColor;
	padding: rem-calc(8) 0;
}

.jobs li .title{
	position: relative;
	margin: 0;
	padding: 0 rem-calc(35) 0 0;
	text-transform: uppercase;
	line-height: 93%;
	letter-spacing: 0.02em;
	font-size: rem-calc(26);
	font-weight: normal;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(29);
		padding-left: rem-calc(75);
	}

	@media (min-width: $reflex-md) {
		font-size: rem-calc(34);
	}
}

.job-attributes .attribute{
	text-transform: uppercase;
	letter-spacing: 0.01em;
	margin-bottom: rem-calc(3);
}

.job-attributes .value{
	margin-bottom: rem-calc(18);

	font-size: rem-calc(16);

	@media (min-width: $reflex-md) {
		font-size: rem-calc(18);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(20);
	}
}

aside.job-attributes{
	@media (min-width: $reflex-md) {
		padding-left: rem-calc(35);
	}
}

.jobs .number{
	display: inline-block;

	@media (min-width: $reflex-md) {
		width: rem-calc(80);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.jobs .job-description{
	padding-top: rem-calc(25);

	@media (min-width: $reflex-md) {
		padding-right: rem-calc(40);
		padding-left: rem-calc(80);
	}

	@media (min-width: $reflex-lg) {
		padding-right: rem-calc(80);
	}
}

.jobs .job.closed .job-details{
	height: 0;
	overflow: hidden;
}

.jobs .job-attributes{
	padding-top: rem-calc(25);

	@media (min-width: $reflex-md) {
		padding-bottom: rem-calc(50);
	}
}

.jobs .call-to-action{
	font-size: rem-calc(16);
}

.jobs .job-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.jobs .job-toggle{
	position: relative;
	top: -1px;
	width: rem-calc(21);
	height: rem-calc(21);
	flex-grow: 0;
	font-family: 'Vega';
  text-align: right;

	&:after{
		content: "\e905";
	}
}

.jobs .job-header.active .job-toggle:after{
	content: "\e904";

}

.job-apply{
	position: relative;

	a{
		display: block;
	}

	@media (min-width: $reflex-md) {
		padding-right: rem-calc(60);

		&:after{
			font-family: 'Vega';
			font-size: rem-calc(48);
			position: absolute;
			top: 0;
			right: 0;
			content: "\e906";
		}
	}
}