.four-oh-four{
	width: 100%;
	min-height: 100vh;
	background: url(../images/404.png) $vega_white;
	padding-bottom: rem-calc(80);
}

.four-oh-four-container{
	box-sizing: border-box;
	width: 100%;
	max-width: rem-calc(1100);
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: rem-calc(30);
	padding-right: rem-calc(30);
	display: flex;
	flex-direction: column;
}

.application-window{
	box-sizing: border-box;
	color: $vega_black;
	width: 100%;
	max-width: rem-calc(660);
	background-color: $vega_white;
	border: solid 3px $vega_black;

	@media (min-width: $reflex-md) {
		//position: absolute;
		align-self: flex-end;
	}
}

.application-window .heading-intro{

	@media (min-width: $reflex-md) {
		font-size: rem-calc(75);
		line-height: 90%;
	}
}

.application-window__toolbar{
	border-bottom: solid 3px $vega_black;
	height: rem-calc(30);

	.icon{
		float: right;
		line-height: rem-calc(30);
		padding: 0 rem-calc(10);
		cursor: pointer;
	}
}

.application-window__contents{
	padding: rem-calc(30);

	@media (min-width: $reflex-md) {
		padding-bottom: rem-calc(80);
	}
}