@include responsive-visibility-helpers-2();

.grid.padded{
	margin-left: -25px;
	margin-right: -25px;

	[class*="col-"]{
		padding-left: 25px;
		padding-right: 25px;
	}
}

.hidden{
	display: none;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.no-show{
	position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.site-container{
	min-height: 100vh;
	padding-left: rem-calc(60);
}

.site-header{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0px;
	width: rem-calc(60);
	border-right: solid 1px $vega_white;
	padding: rem-calc(20) 0;
	background-color: $vega_black;
	z-index: 1;
}

.site-footer{
	padding-left: rem-calc(60);
}

.site-footer-credits{
	padding: rem-calc(20) 0;

	@media (min-width: $reflex-md) {
		div[class^='col-']:last-child{
			text-align: right;
		}
	}
}

#sidebar{
	height: 100%;

	> .panel{
		display: flex;
		flex-direction: column;
		height: calc(100% - #{$panel-padding*2}px);

		@media (min-width: $reflex-md) {
			height: calc(100% - #{$panel-md-padding*2}px);
		}

		> .inner{
			height: 100%;
			position: relative;
		}
	}
}

.bump{
	@media (min-width: $reflex-md) {
		display: inline-block;
		width: 3.8ch;
	}
}

.intro-panel{
	overflow: hidden;
}

.panel{
	border: solid 1px currentColor;
	padding: rem-calc($panel-padding);

	@media (min-width: $reflex-md) {
		padding: rem-calc($panel-md-padding);
	}

	&.no-border-top{
		border-top: none;
	}

	&.no-border-bottom{
		border-bottom: none;
	}

	&.no-border-left{
		border-left: none;
	}

	&.no-border-right{
		border-right: none;
	}

	&.no-borders{
		border: none;
	}

	p:last-child{
		margin-bottom: 0;
	}

	+ .panel{
		border-top: none !important;
	}
}

.footer-item{
	height: auto;
	max-height: calc(5.5vw + 40px);
	overflow: hidden;
	transition: max-height 1s;

	@media (min-width: $reflex-md) {
		max-height: calc(5.5vw + 60px);
	}
}

.footer-item-content{
	margin-top: rem-calc(10);

	@media (min-width: $reflex-md) {
		margin-top: 0;
	}
}

.footer-item-link{
	cursor: pointer;
}

.js .footer-item-content,
.js .call-to-action-footer{
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
}

.js .footer-item.open{
	max-height: 300px;
}

.js .footer-item.open .footer-item-content,
.js .footer-item.open .call-to-action-footer{
	transform: translateY(0);
	opacity: 1;
}

