@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

$panel-padding: 20;
$panel-md-padding: 30;

// grid variables
$reflex-grid-spacing: 0;

$reflex-xs: 576px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1200px !default;
$reflex-xlg: 1600px !default;

@mixin responsive-visibility-helpers-2() {
    @if $visibility-helpers == true {
        .#{$reflex-prefix}visible-xxs {
            @media (max-width: $reflex-xxs-max) {
                display: block !important;
            }
        }

        .#{$reflex-prefix}visible-xs {
            @media (min-width: $reflex-xs) {
                display: block !important;
            }
        }

        .#{$reflex-prefix}visible-sm {
            @media (min-width: $reflex-sm) {
                display: block !important;
            }
        }

        .#{$reflex-prefix}visible-md {
            @media (min-width: $reflex-md) {
                display: block !important;
            }
        }

        .#{$reflex-prefix}visible-lg {
            @media (min-width: $reflex-lg) {
                display: block !important;
            }
        }

        .#{$reflex-prefix}visible-xlg {
            @media (min-width: $reflex-xlg) {
                display: block !important;
            }
        }


        .#{$reflex-prefix}hidden-xs-up {
            @media (min-width: $reflex-xs) {
                display: none !important;
            }
        }

        .#{$reflex-prefix}hidden-sm-up {
            @media (min-width: $reflex-sm) {
                display: none !important;
            }
        }

        .#{$reflex-prefix}hidden-md-up {
            @media (min-width: $reflex-md) {
                display: none !important;
            }
        }

        .#{$reflex-prefix}hidden-lg-up {
            @media (min-width: $reflex-lg) {
                display: none !important;
            }
        }
    }
}