.toggle{
	position: fixed;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	width: rem-calc(60);
	height: rem-calc(60);
	text-align: center;
}

.toggle__container{
	width: rem-calc(11);
	height: rem-calc(18);
	background-color: $vega_white;
	text-align: center;
}

.toggle__switch{
	display: inline-block;
	width: rem-calc(7);
	height: rem-calc(7);
	background-color: $vega_black;
	transform: translateY(-1px);
}

.toggle-switch{
	display: none;
}

.toggle-switch:checked ~ .toggle{
	.toggle__switch{
		transform: translateY(-8px);
	}

	.toggle__container{
		background-color: $vega_black;
	}

	.toggle__switch{
		background-color: $vega_yellow;
	}
}

.toggle-switch:checked ~ .four-oh-four,
.toggle-switch:checked ~ .site-container,
.toggle-switch:checked ~ .site-header,
.toggle-switch:checked ~ .site-footer{
	background-color: $vega_yellow;
	color: $vega_black;
	border-color: black;

	.marquee{
		background-color: $vega_yellow;
	}

	a{
		color: $vega_black;
	}

	::selection{
		background-color: $vega_limegreen;
		color: $vega_black;
	}
}

.toggle-switch:checked ~ .site-header .vega-logo-anim-anchor .vega-logo-anim path{
	fill: $vega_black;
}

.toggle-switch:checked ~ .site-header .vega-logo-anim-anchor .vega-logo-anim #frame0 rect{
	fill: $vega_yellow;
}

.toggle-switch:checked ~ .site-header .main-navigation ul li a.current span,
.toggle-switch:checked ~ #cursor{
	background-color: $vega_limegreen;
}

.toggle-switch:checked ~ .site-footer{
	.heading-footer a,
	a.call-to-action-footer,
	.call-to-action-footer a{
		color: $vega_limegreen;
	}
}

// focussing
body:not(.js),
.js.user-is-tabbing{
	.toggle-switch:checked ~ .four-oh-four,
	.toggle-switch:checked ~ .site-container,
	.toggle-switch:checked ~ .site-header,
	.toggle-switch:checked ~ .site-footer{
		:focus{
			background-color: $vega_limegreen !important;
		}
	}
}

body:not(.js),
.js.user-is-tabbing{
	.toggle-switch:checked ~ .site-header .vega-logo-anim-anchor:focus .vega-logo-anim #frame0 rect{
		fill: $vega_limegreen !important;
	}
}

body:not(.js),
.js.user-is-tabbing{
	.toggle-switch:checked ~ .site-header .vega-logo-anim-anchor:focus .vega-logo-anim path{
		fill: $vega_black;
	}
}
