h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

p{
	margin: 0 0 1em 0;
}

a{
	color: inherit;
	text-decoration: none;
}

.px{
	font-family:"Neue Pixel Grotesk Regular";
}

.heading-intro-home{
	margin: 0 0 rem-calc(15) 0;
	text-transform: uppercase;
	line-height: 90%;
	letter-spacing: 0.02em;

	&.presentational{
		display: none;
	}

	br{
		display: none;
	}

	@media (min-width: $reflex-md) {
		font-size: 4.5vw;
		transform: translateX(16%);
		margin-bottom: 0;

		br{
			display: block;
		}

		&.presentational{
			display: block;
			transform: translateX(-66%);
		}
	}
}

.heading-intro{
	margin: 0 0 rem-calc(15) 0;
	text-transform: uppercase;
	line-height: 93%;
	letter-spacing: 0.02em;
	font-size: rem-calc(28);
	margin-bottom: rem-calc(25);

	@media (min-width: $reflex-md) {
		font-size: rem-calc(32);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(44);
	}

	a{
		color: $vega_yellow;
	}
}

.heading-panel{
	font-size: rem-calc(16);
	font-weight: normal;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	line-height: rem-calc(16);
	margin: 0 0 rem-calc(20) 0;

	&::before{
		position: relative;
		top: rem-calc(-3);
		padding-right: rem-calc(10);
		content: '\25A0';
		font-size: rem-calc(25);
	}
}

.heading-footer{
	font-size: 6vw;
	margin: 0;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 0.8;
}

ul, ol{
	padding-left: rem-calc(20);
	margin-bottom: rem-calc(35);
}

li,
p{
	font-size: rem-calc(16);
	line-height: 130%;
	letter-spacing: 0.01em;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(18);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(20);
	}
}

p.larger{
	font-size: rem-calc(18);
	line-height: 115%;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(26);
		
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(28);
	}
}

li{
	margin-bottom: rem-calc(15);
	list-style-type: square;
}

h2,
.h2{
	font-size: rem-calc(16);
	font-weight: bold;
	line-height: 130%;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(18);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(20);
	}
}

.call-to-action{
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: rem-calc(3);
	border-bottom: solid 1px currentColor;

	&:hover{
		border: none;
	}
}

.call-to-action-footer{
	text-transform: uppercase;
	font-size: rem-calc(88);
	font-size: 6vw;
	line-height: 0.8;
	color: $vega_yellow;

	.icon{
		font-size: 77%;
	}
}