h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

p{
	margin: 0 0 1em 0;
}

a{
	color: inherit;
	text-decoration: none;
}

.px{
	font-family:"Neue Pixel Grotesk Regular";
}

.heading-intro-home{
	font-size: rem-calc(32);
	margin: 0 0 rem-calc(15) 0;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	max-width: rem-calc(560);
	line-height: 0.9;

	.line{
		@media (min-width: $reflex-md) {
			white-space: nowrap;
		}
	}

	.px{
		display: inline-block;
	}

	&.presentational{
		display: none;
	}

	br{
		display: none;
	}

	@media (min-width: $reflex-md) {
		max-width: none;
		width: calc(100% + 500px);
		font-size: 6.2vw;
		line-height: 4.6vw;
		transform: translateX(5%);
		margin-bottom: 0;

		.line{
			white-space: normal;
		}

		br{
			display: block;
		}

		&.presentational{
			display: block;
			width: calc(100% + 1000px);
    		transform: translateX(-36%);
		}
	}

	@media (min-width: $reflex-lg) {
		font-size: 5.2vw;
		transform: translateX(0);
		line-height: 4.1vw;

		&.presentational{
			width: calc(100% + 1000px);
    		transform: translateX(-32%);
		}
	}
}

.heading-intro{
	margin: 0 0 rem-calc(15) 0;
	text-transform: uppercase;
	line-height: 98%;
	letter-spacing: 0.02em;
	font-size: rem-calc(28);
	margin-bottom: rem-calc(25);

	@media (min-width: $reflex-md) {
		font-size: rem-calc(32);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(44);
	}

	a{
		color: $vega_yellow;
		text-decoration: none;
	}
}

.heading-panel{
	font-size: rem-calc(16);
	font-weight: normal;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	line-height: rem-calc(16);
	margin: 0 0 rem-calc(15) 0;

	@media (min-width: $reflex-md) {
		margin: 0 0 rem-calc(25) 0;
	}

	&::before{
		position: relative;
		top: rem-calc(-3);
		padding-right: rem-calc(10);
		content: '\25A0';
		font-size: rem-calc(25);
	}
}

.panel > .heading-panel:first-child{
    margin-top: rem-calc($panel-padding*-1);
    padding-top: rem-calc($panel-padding);

    @media (min-width: $reflex-md) {
    	margin-top: rem-calc($panel-md-padding*-1);
    	padding-top: rem-calc($panel-md-padding);
    }
}

.heading-footer{
	display: block;
	font-size: 6vw;
	margin: 0;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 0.8;

	&.hidden{
		display: none;
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(88);
	}
}

ul, ol{
	padding-left: rem-calc(20);
	margin-bottom: rem-calc(35);
}

li,
p{
	font-size: rem-calc(16);
	line-height: 130%;
	letter-spacing: 0.01em;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(18);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(20);
	}
}

p.larger{
	font-size: rem-calc(18);
	line-height: 130%;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(26);
		line-height: 115%;
		
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(28);
	}
}

p a{
	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}
}

li{
	margin-bottom: rem-calc(15);
	list-style-type: square;
}

h2,
.h2{
	font-size: rem-calc(16);
	font-weight: bold;
	line-height: 130%;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(18);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(20);
	}
}

h3,
.h3{
	font-size: rem-calc(15);
	font-weight: bold;
	line-height: 130%;

	@media (min-width: $reflex-md) {
		font-size: rem-calc(16);
	}

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(18);
	}
}

.call-to-action{
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: rem-calc(3);
	border-bottom: solid 1px currentColor;

	&:hover{
		border: none;
	}
}

p .call-to-action{
	font-size: rem-calc(16);
}

.call-to-action-footer{
	display: inline-block;
	text-transform: uppercase;
	font-size: rem-calc(88);
	font-size: 6vw;
	line-height: 0.8;

	@media (min-width: $reflex-lg) {
		font-size: rem-calc(88);
	}

	a{
		color: $vega_yellow;
	}

	.icon{
		font-size: 77%;
	}
}

.flip{
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0.5s, opacity 0;
}

.flip.flop{
	transform: translateY(0);
	opacity: 1;
}