.connect .icon{
	font-size: rem-calc(18);

	@media (min-width: $medium) {
		font-size: rem-calc(21);
	}
}

.item{
	display: flex;
	justify-content: space-between;
	border-top: solid 1px #575E5D;
	border-bottom: solid 1px #575E5D;
	padding: 1rem 0;
}

.item + .item{
	border-top: none;
}

.item__title{
	font-weight: 300;

	@media (min-width: $medium) {
		font-size: rem-calc(20);
	}
}

.item__download{
	@media (min-width: $medium) {
		font-size: rem-calc(20);
	}
}

.subscribe input[type="email"]{
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: $white;
	border-bottom: solid 1px $vega_yellow;
	width: 100%;
	font-size: rem-calc(20);
	margin-bottom: rem-calc(28);
	padding-left: 0;
	padding-bottom: rem-calc(5);
}

.subscribe input[type="email"]::placeholder{
	color: $white;
}

.subscribe button[type="submit"]{
	position: relative;
	appearance: none;
	background-color: transparent;
	color: $white;
	border: solid 1px $vega_yellow;
	border-radius: 100px;
	font-size: 1.25rem;
	padding: rem-calc(8 75 10 20);
	cursor: pointer;

	&::after{
		content: '';
		position: absolute;
		width: rem-calc(24);
		height: rem-calc(15);
		background: transparent url(/images/arrow.svg) 50% 50%/24px 15px no-repeat;
		right: rem-calc(25);
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover{
		background-color: $vega_yellow;
		color: $black;

		&::after{
			background-image: url(/images/arrow-black.svg);
		}
	}
}

.credits{
	padding-top: rem-calc(50);
	color: $vega_credits_text;
}

.credits p{
	font-size: rem-calc(14);
	margin-bottom: rem-calc(3);
}

.connect a{
	border: none;
	display: inline-block;
	padding: 0 rem-calc(8);
	color: $white;
	transition: color 0.5s;
	text-align: center;
	min-width: rem-calc(35);

	&:last-child{
		margin-right: 0;
	}
}

.connect a:hover{
	color: rgba($white, 0.7);
}

.back{
	display: inline-block;
	position: relative;
	color: $white;
	border: solid 1px $vega_yellow;
	border-radius: 100px;
	font-size: 1.25rem;
	padding: rem-calc(8 20 10 75);
	cursor: pointer;
	text-align: right;

	&::before{
		content: '';
		position: absolute;
		width: rem-calc(24);
		height: rem-calc(15);
		background: transparent url(/images/arrow-left.svg) 50% 50%/24px 15px no-repeat;
		left: rem-calc(25);
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover{
		border: solid 1px $vega_yellow;
		background-color: $vega_yellow;
		color: $black;

		&::before{
			background-image: url(/images/arrow-black-left.svg);
		}
	}
}