@font-face {
  font-family: 'social';
  src:  url('/fonts/social.eot?hkc0pi');
  src:  url('/fonts/social.eot?hkc0pi#iefix') format('embedded-opentype'),
    url('/fonts/social.ttf?hkc0pi') format('truetype'),
    url('/fonts/social.woff?hkc0pi') format('woff'),
    url('/fonts/social.svg?hkc0pi#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-medium:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}