<div class="banner-mainnet">
  <div>
  	<p>THE VEG<span class="px">A</span> RESTRICTED MAINNET IS NOW LIVE AND AVAILABLE FOR STAKING</p>

    <a class="banner-mainnet-cta" href="https://token.vega.xyz" target="_blank"><span>Take me there</span></a>

    <a data-close-banner-mainnet class="close">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="10.961" y1="0.353553" x2="0.354373" y2="10.9602" stroke="white"/>
        <line x1="0.355507" y1="0.3536" x2="10.9621" y2="10.9602" stroke="white"/>
      </svg>
      <span>Close</span>
    </a>
  </div>
</div>