<div class="beware">
  <div>
  	<p>BEW<span class="px">A</span>RE OF S<span class="px">C</span>AMS, THE ONLY PL<span class="px">AC</span>E TO <span class="px">B</span>UY VE<span class="px">G</span>A TOKEN<span class="px">S</span> IS ON THE <span class="px">C</span>OINLI<span class="px">S</span>T WEBSITE</p>

    <a class="beware-cta" href="https://coinlist.co/vega" target="_blank"><span>Take me there</span></a>

    <a data-close-beware class="close">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="10.961" y1="0.353553" x2="0.354373" y2="10.9602" stroke="white"/>
        <line x1="0.355507" y1="0.3536" x2="10.9621" y2="10.9602" stroke="white"/>
      </svg>
      <span>Close</span>
    </a>
  </div>
</div>