<footer class="site-footer">
	<div class="grid panel no-border-right footer-item">
		<div class="col-12 col-md-6">
			<h4 class="heading-footer footer-item-link">New<span class="px">s</span>lette<span class="px">r</span></h4>
		</div>
		<div class="col-12 col-md-6 footer-item-content-container">
			<div class="footer-item-content">
				<p class="larger">News + updates, event invites and great opportunities direct to your inbox. No spam, ever.</p>
				<form class="signup" action="https://app.moosend.com/subscribe/593bee4b-17fe-4a01-beff-ba9c9ea8616e">
					<input type="email" name="ms-email" placeholder="Enter email address.">
					<button type="submit">
						<span class="hidden-xxs hidden-xs hidden-sm hidden-md"><span class="px">S</span>ign <span class="px">up</span></span>
						<span class="icon icon-arrow-diagonal"></span>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="grid panel no-border-right footer-item">
		<div class="col-12 col-md-6">
			<h4 class="heading-footer footer-item-link">Bl<span class="px">o</span>g</h4>
			<span class="call-to-action-footer">
				<a href="https://medium.com/vegaprotocol" target="_blank" title="Read about Vega Protocol on Medium">
					<span class="px">G</span>o
					<span class="icon icon-arrow-diagonal"></span>
				</a>
			</span>
		</div>
		<div class="col-12 col-md-6 footer-item-content-container">
			<div class="footer-item-content">
				<p class="larger">Visit our blog for longer-form explanations of the concepts behind Vega, and a bit more about our goals. Once the testnet is live, we’ll also share updates and overviews of the progress.</p>
			</div>
		</div>
	</div>
	<div class="grid panel no-border-right footer-item">
		<div class="col-12 col-md-6">
			<h4 class="heading-footer footer-item-link">F<span class="px">or</span>um</h4>
			<span class="call-to-action-footer">
				<a href="https://community.vega.xyz/" target="_blank" title="Visit our community forum">
					<span class="px">G</span>o
					<span class="icon icon-arrow-diagonal"></span>
				</a>
			</span>
		</div>
		<div class="col-12 col-md-6 footer-item-content-container">
			<div class="footer-item-content">
				<p class="larger">Join our forum to take part in regular AMA sessions, discuss markets you’d like to see one day, or just say hi. No pressure, though. If you just want to read along with what’s going on, we’re happy to have you!</p>
			</div>
		</div>
	</div>

	<div class="grid panel no-border-right footer-item overlay">
		<div class="col-12">
			<h4 class="heading-footer footer-item-link"><span class="px">So</span>cial Me<span class="px">d</span>ia</h4>
		</div>
		<div class="col-12 footer-item-content-container">
			<div class="panel no-borders">
				<div class="footer-item-content no-margin-top">
					<span class="heading-footer call-to-action-footer"><a href="https://twitter.com/vegaprotocol" target="_blank">Twitt<span class="px">er</span></a> / <a href="https://www.linkedin.com/company/18529721/" target="_blank">Lin<span class="px">k</span>edIn</a></span>
				</div>
			</div>
		</div>
	</div>

	<div class="site-footer-credits panel no-borders">
		<div class="grid">
			<div class="col-12 col-md-3">&copy; {{ now.Format "2006"}} Vega holdings Ltd</div>
			<div class="col-12 col-md-6">Suite 23 Portland House, Glacis Road, Gibraltar, GX11 1AA&nbsp;&nbsp;/&nbsp;&nbsp;info@vega.xyz</div>
			<div class="col-12 col-md-3"><!-- <a href="/brand-assets">BRAND ASSETS</a>&nbsp;&nbsp;&nbsp; --><a href="/privacy">PRIVACY</a></div>
		</div>
	</div>
</footer>
   
{{ partial "scripts.html" . }}