<footer class="site-footer">
	<div class="grid panel no-border-right footer-item">
		<div class="col-12 col-md-6">
			<a class="heading-footer footer-item-link" id="newsletter" href="#">New<span class="px">s</span>lette<span class="px">r</span></a>
		</div>
		<div class="col-12 col-md-6 footer-item-content-container">
			<div class="footer-item-content">
				<p class="larger">News + updates, event invites and great opportunities direct to your inbox. No spam, ever.</p>
				
				<db class="call-to-action-footer">
					<a href="https://vegacommunity.substack.com/subscribe" target="_blank">
						<span class="px">S</span>ign <span class="px">up</span>
						<span class="icon icon-arrow-diagonal"></span>
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="grid panel no-border-right footer-item">
		<div class="col-12 col-md-6">
			<a class="heading-footer footer-item-link" href="#">Bl<span class="px">o</span>g</a><br>
			<span class="call-to-action-footer footer-item-content-hidden">
				<a href="https://medium.com/vegaprotocol" target="_blank" title="Read about Vega Protocol on Medium">
					<span class="px">G</span>o
					<span class="icon icon-arrow-diagonal"></span>
				</a>
			</span>
		</div>
		<div class="col-12 col-md-6 footer-item-content-container">
			<div class="footer-item-content">
				<p class="larger">Visit our blog for longer-form explanations of the concepts behind Vega, and a bit more about our goals. Once the testnet is live, we’ll also share updates and overviews of the progress.</p>
			</div>
		</div>
	</div>
	<div class="grid panel no-border-right footer-item">
		<div class="col-12 col-md-6">
			<a class="heading-footer footer-item-link" href="#">C<span class="px">om</span>mu<span class="px">n</span>ity</a><br>
			<span class="call-to-action-footer footer-item-content-hidden">
				<a href="https://community.vega.xyz/" target="_blank" title="Visit our community forum">
					F<span class="px">o</span>rum
				</a> / 
				<a href="https://vega.xyz/discord" target="_blank" title="Visit us on Discord">
					Di<span class="px">s</span>c<span class="px">o</span>rd
				</a>
			</span>
		</div>
		<div class="col-12 col-md-6 footer-item-content-container">
			<div class="footer-item-content">
				<p class="larger">Join our forum and discord to take part in regular AMA sessions, discuss markets you’d like to create, build on Vega or just say hi. No pressure, though. If you just want to read along with what’s going on, we’re happy to have you!</p>
			</div>
		</div>
	</div>

	<div class="grid panel no-border-right footer-item footer-switch-item footer-item-social overlay">
		<div class="col-12">
			<a class="footer-switch-link heading-footer" href="#"><span class="px">So</span>cial Me<span class="px">d</span>ia</a>
			<div class="footer-switch-content">
				<span class="heading-footer call-to-action-footer"><a href="https://github.com/vegaprotocol/" target="_blank"><span class="px">G</span>it<span class="px">hu</span>b</a> / <span class="heading-footer call-to-action-footer"><a href="https://twitter.com/vegaprotocol" target="_blank">Twitt<span class="px">er</span></a> / 
				<a href="https://t.me/vegacommunity" target="_blank">T<span class="px">e</span>le<span class="px">g</span>ram</a></span>
			</div>
		</div>
	</div>

	<div class="site-footer-credits panel no-borders">
		<div class="grid">
			<div class="col-12 col-md-9">Gobalsky Labs Limited. Suite 23 Portland House, Glacis Road, Gibraltar, GX11 1AA&nbsp;&nbsp;/&nbsp;&nbsp;hi@vega.xyz</div>
			<div class="col-12 col-md-3"><!-- <a href="/brand-assets">BRAND ASSETS</a>&nbsp;&nbsp;&nbsp; --><a href="/privacy">PRIVACY</a></div>
		</div>
	</div>
</footer>

{{ partial "beware.html" . }}
   
{{ partial "scripts.html" . }}