<header class="site-header">
	<a href="/" class="vega-logo-anim-anchor">
		<svg class="vega-logo-anim" id="vegaLogoAnim" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 59 59" xml:space="preserve">
		    <style>
		        .vega-logo-frame,
		        #vegaLogoAnim:hover #frame0{
		        	display: none;
		        }
		    </style>

		    <g id="frame1" class="vega-logo-frame">
		        <set id="frame1Anim" attributeName="display" to="block" begin="0s;frame10Anim.end" dur="100ms" />
		        <path d="M22 18v-6h-5v10h5v-2zM22 37h5v5h-5zM27 42h5v5h-5zM32 37h5v5h-5zM37 12v10h5V12zM22 33v-6h-5v10h5v-2zM37 27v10h5V27zM22 22h5v5h-5zM42 22h5v5h-5z" />
		    </g>
		    <g id="frame2" class="vega-logo-frame">
		        <set id="frame2Anim" attributeName="display" to="block" begin="frame1Anim.end" dur="100ms" />
		        <path d="M17 12h5v5h-5zM22 17h5v5h-5zM17 22h5v5h-5zM27 32v-5h-5v10h5zM17 37h5v5h-5zM27 42h5v5h-5zM32 37h5v5h-5zM42 32h5v5h-5zM32 27h5v5h-5zM42 22v-5h-5v10h5zM32 7h5v5h-5z" />
		    </g>
		    <g id="frame3" class="vega-logo-frame">
		        <set id="frame3Anim" attributeName="display" to="block" begin="frame2Anim.end" dur="100ms" />
		        <path d="M22 21v-9h-5v15h5v-3zM22 37h10v5H22zM17 31.9h5v5h-5zM37 31.9h5v5h-5z" />
		        <path d="M27 37h5v10h-5zM37 12v15h5V12zM12 26.9h5v5h-5zM32 26.9h5v5h-5z" />
		    </g>
		    <g id="frame4" class="vega-logo-frame">
		        <set id="frame4Anim" attributeName="display" to="block" begin="frame3Anim.end" dur="100ms" />
		        <path d="M22 31v-9h-5v15h5v-3zM22 37h5v5h-5zM17 11.9h5v5h-5zM42 31.9h5v5h-5zM27 42h5v5h-5zM37 12v19.9h5V12zM12 16.9h5v5h-5zM32 31.9h5v5h-5z" />
		    </g>
		    <g id="frame5" class="vega-logo-frame">
		        <set id="frame5Anim" attributeName="display" to="block" begin="frame4Anim.end" dur="100ms" />
		        <path d="M12 12h5v5h-5zM22 17h-5v10h5v-5zM22 27h5v5h-5zM17 32h5v5h-5zM22 37h5v5h-5zM27 42v5h10v-5h-5zM37 32h5v5h-5zM42 27h5v5h-5zM42 17h-5v10h5v-5zM32 27h5v5h-5z" />
		    </g>
		    <g id="frame6" class="vega-logo-frame">
		        <set id="frame6Anim" attributeName="display" to="block" begin="frame5Anim.end" dur="100ms" />
		        <path d="M27 42h5v5h-5zM32 37h5v5h-5zM32 27h5v5h-5zM12 27h5v5h-5zM37 32h5v5h-5zM37 22h5v5h-5zM42 12h5v5h-5zM37 17h5v5h-5zM22 37h5v5h-5zM22 32h5v5h-5zM17 17h5v5h-5zM17 22h5v5h-5zM17 12h5v5h-5z" />
		    </g>
		    <g id="frame7" class="vega-logo-frame">
		        <set id="frame7Anim" attributeName="display" to="block" begin="frame6Anim.end" dur="100ms" />
		        <path d="M12 12h5v5h-5zM22 17h-5v10h5v-5zM22 27h5v5h-5zM17 32h5v5h-5zM22 37v5h5v5h5V37h-5zM42 32h5v5h-5zM42 22h-5v10h5v-5zM32 17h5v5h-5zM37 12h5v5h-5z" />
		    </g>
		    <g id="frame8" class="vega-logo-frame">
		        <set id="frame8Anim" attributeName="display" to="block" begin="frame7Anim.end" dur="100ms" />
		        <path d="M17 12h5v5h-5zM27 22v-5h-5v10h5zM17 32v5h5V27h-5zM27 37v10h5v-5h5v-5h-5zM42 37h5v5h-5zM37 27h5v5h-5zM32 22h5v5h-5zM42 17v-5h-5v10h5z" />
		    </g>
		    <g id="frame9" class="vega-logo-frame">
		        <set id="frame9Anim" attributeName="display" to="block" begin="frame8Anim.end" dur="100ms" />
		        <path d="M17 7h5v5h-5zM27 22v-5h-5v10h5zM17 27h5v5h-5zM12 32h5v5h-5zM22 37h5v5h-5zM27 42h5v5h-5zM32 37h5v5h-5zM42 32h5v5h-5zM37 27h5v5h-5zM42 17v10h5V17zM37 12h5v5h-5z" />
		    </g>
		    <g id="frame10" class="vega-logo-frame">
		        <set id="frame10Anim" attributeName="display" to="block" begin="frame9Anim.end" dur="100ms" />
		        <path d="M22 12h5v5h-5zM17 22v10h5V17h-5zM12 37h5v5h-5zM27 42h5v5h-5zM42 32h-5v10h5v-5h5v-5zM27 27v5h5V22h-5zM37 17h5v5h-5zM37 7h5v5h-5z" />
		    </g>

		   	<g id="frame0">
		   		<rect width="59" height="59" fill="black"></rect>
		   		<path d="M32.1811 42.9087H26.818V48.2718H32.1811V42.9087Z" fill="white"/>
				<path d="M37.5452 37.5457H32.1821V42.9088H37.5452V37.5457Z" fill="white"/>
				<path d="M48.2721 32.1826H42.9091V37.5457H48.2721V32.1826Z" fill="white"/>
				<path d="M42.9086 10.7283H37.5455V32.1826H42.9086V10.7283Z" fill="white"/>
				<path d="M26.8177 37.5457H21.4546V42.9088H26.8177V37.5457Z" fill="white"/>
				<path d="M21.4542 10.7283H16.0911V37.5457H21.4542V10.7283Z" fill="white"/>	
		    </g>
		</svg>
	</a>

	{{- partial "nav.html" . -}}
</header>