<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
  <body>
    <div class="four-oh-four">
      <div class="four-oh-four-container">
        <div class="application-window" id="appWindow">
          <div class="application-window__toolbar" id="appWindowHeader">
            <a id="close404"><span class="icon icon-cross"></span></a>
          </div>
          <div class="application-window__contents">
            <p class="heading-intro">Uh. We <span class="px">c</span>an&rsquo;t find the p<span class="px">ag</span>e you&rsquo;re<span class="px"></span> loo<span class="px">k</span>ing f<span class="px">o</span>r.</p>
            <a href="/" class="call-to-action">Go home</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>