{{ define "main" }}
{{ $jobs := (where .Site.RegularPages "Section" "job") }}
    <main aria-role="main" class="cf mw10 mw8-ns center pa3 ph5-ns avenir">
      <header class="homepage-header mw10 center ph3-ns">
        <h1 class="tc f2 tracked-tight">{{.Params.headerline}}</h1>
        {{ with .Params.headerdescription }}
        <p class="tc f2 subtitle">{{.}}</p>
        {{ end }}
      </header>

      <article class="homepage-content mw10 center ph4-ns">
      {{ range .Params.linkblocks }}
      <section class=" fl w-100 w-50-ns ph5 pv1">
        <h3 class="f3"><a href="{{.link}}">&#x2192;&nbsp;{{.title}}</a></h3>
        <ul class="f4 list pl1 lh-copy">{{ range .links }}
        <li>
          <span class="gray">&ndash;&nbsp;</span><a class="dark-gray {{with .highlight}}bg-light-yellow{{end}}" href="{{.link}}">{{.title}}{{if eq .status "true"}}<span class="black f4 b lh-copy">{{$.Page.Param "CurrentNetwork"}}{{end}}</span></span></a>
         {{if eq .count "true"}}
           &nbsp;<span class="link dim br-pill ph2 dib fw2 dark-gray bg-yellow ">{{len $jobs}}</span>
         {{end}}
         </li>
        {{ end }}
        </ul>
      </section>
      {{ end }}
      </article>
  </main>
{{ end }}
