{{ define "main" }}

<div class="intro-panel panel no-border-top no-border-right">
	<div class="grid">
		<div class="col-6 col-md-4 col-lg-6">
			<h1 class="scramble-heading heading-intro-home presentational">
				<span class="line">Ve<span class="px">g</span>a is a<br> prot<span class="px">o</span>col for</span>
				<br>
				<span class="line"><span class="bump"></span>crea<span class="px">t</span>ing and</span>
				<br>
				<span class="line">tr<span class="px">a</span>ding</span>
				<br>
				<span class="line"><span class="bump px"></span>derivative<span class="px">s</span> on</span>
				<br>
				<span class="line"><span class="bump px"></span>a fully</span>
				<br>
				<span class="line">de<span class="px">c</span>entralised</span>
				<br>
				<span class="line">network.</span>
			</h1>
		</div>
		<div class="col-12 col-md-8 col-lg-6">
			<h1 class="scramble-heading heading-intro-home">
				<span class="line">Ve<span class="px">g</span>a is a&nbsp;</span>
				<br>
				<span class="line">prot<span class="px">o</span>col for&nbsp;</span>
				<br>
				<span class="line"><span class="bump px"></span>crea<span class="px">t</span>ing and&nbsp;</span>
				<br>
				<span class="line">tr<span class="px">a</span>ding&nbsp;</span>
				<br>
				<span class="line"><span class="bump px"></span>derivative<span class="px">s</span> on&nbsp;</span>
				<br>
				<span class="line"><span class="bump px"></span>a <span class="px">f</span>ully&nbsp;</span>
				<br>
				<span class="line">de<span class="px">c</span>entralised&nbsp;</span>
				<br>
				<span class="line">network<span class="px">.</span></span>
			</h1>

			<div class="hidden-md-up">
				<p>Fully automated processes and incentives for trading margined financial products allow for markets that are open and decentralised, with pseudonymous participants.</p>
	    		<p><a href="/about" class="call-to-action">Learn more</a></p>
	    	</div>
		</div>
	</div>
</div>

<div class="grid">
	<div class="col-12 col-md-9 panel no-border-top no-border-right no-border-bottom">
    	<h2 class="heading-panel">Navigation</h2>
    	<nav class="page-navigation">
	    	<ul>
	    	{{range $index, $element := .Params.linkblocks}}
	    		{{ $menuindex :=add $index 1 }}
				<li>
					<a href="{{.link}}"><span class="section-number">{{ printf "%02d" $menuindex }}</span><span class="section-title">{{.title}}</span></a>
					<ul>
						{{ range .links }}
						<li>
							<a href="{{.link}}">
								{{.title}}{{if eq .status "true"}}
								{{$.Page.Param "CurrentNetwork"}}{{end}}
							</a>
						</li>
						{{ end }}
					</ul>
				</li>
			{{ end }}
			</ul>
		</nav>
    </div>
    <div class="col-md-3 hidden visible-md">
    	<div class="home-intro-sidebar">
    		<div class="panel no-borders">
	    		<h2 class="heading-panel">Vega in 21 words</h2>
	    		<p class="large">Fully automated processes and incentives for trading margined financial products allow for markets that are open and decentralised, with pseudonymous participants.</p>
	    		<p><a href="/about" class="call-to-action">Learn more</a></p>
	    	</div>
	    	<div class="marquee-container">
				<div class="marquee" id="marquee">
					<span class="marquee-inner">
						<!-- <span> -->
							Current status: TE<span class="px">S</span>TNET
						<!-- </span> -->
					</span>
				</div>
			</div>
		</div>
    </div>
</div>

{{ end }}