@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlphaLyrae";
  src: url("../fonts/AlphaLyrae-Medium.woff2");
}

html {
  background-color: #000000;
}

body {
  font-family: "AlphaLyrae", georgia, serif;
  font-variant-ligatures: none;
}

.grey-box .button-link div {
  @apply bg-vega-light-grey;
}

.dark .grey-box .button-link div {
  @apply bg-vega-box-grey;
}

@layer base {
  p {
    @apply text-vega-mid-grey;
  }
}

@layer utilities {
  /* 
   * Alpha Lyrae font uses "CALT" feature to create glitched effect.
   * This can be toggled using the following css property.
   * For more info about font see: https://github.com/vegaprotocol/alpha-lyrae
   */
  .font-glitched {
    font-variant-ligatures: contextual;
  }

  .copy-xxs {
    /* 15px */
    @apply text-[0.9375rem];
    @apply leading-[1.4];
    @apply mb-4;
  }

  .copy-xs {
    /* 18px */
    @apply text-[1.125rem];
    @apply leading-[1.4];
    @apply mb-4;
  }

  .copy-s {
    /* 24px */
    @apply text-[1.5rem];
    @apply leading-[1.4];
    @apply mb-4;
  }

  .copy-m {
    /* 34px */
    @apply text-[2.125rem];
    @apply leading-[1.2];
    @apply mb-4;
  }

  .copy-l {
    /* 54px */
    @apply text-[3.375rem];
    @apply leading-[1.1];
    @apply mb-4;
  }

  .copy-xl {
    /* 72px */
    @apply text-[4.5rem];
    @apply leading-[1];
    @apply mb-4;
  }

  .copy-xxl {
    /* 84px */
    @apply text-[5.25rem];
    @apply leading-[1];
    @apply mb-4;
  }

  .copy-xxxl {
    /* 114px */
    @apply text-[7.125rem];
    @apply leading-[1];
    @apply mb-4;
  }

  .copy-xxxxl {
    /* 144px */
    @apply text-[9rem];
    @apply leading-[1];
    @apply mb-4;
  }

  .title-xxxs {
    /* 13px */
    @apply text-[0.9375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxs {
    /* 15px */
    @apply text-[0.9375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xs {
    /* 18px */
    @apply text-[1.125rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-s {
    /* 24px */
    @apply text-[1.5rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-m {
    /* 34px */
    @apply text-[2.125rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-l {
    /* 54px */
    @apply text-[3.375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xl {
    /* 72px */
    @apply text-[4.5rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxl {
    /* 84px */
    @apply text-[5.25rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxxl {
    /* 114px */
    @apply text-[7.125rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxxxl {
    /* 144px */
    @apply text-[9rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }
}
