@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlphaLyrae';
  src: url('../fonts/AlphaLyrae-Medium.woff2');
}

html {
  background-color: #000000;
}

body {
  font-family: 'AlphaLyrae', sans-serif;
  font-variant-ligatures: none;
}

html,
body {
  scroll-behavior: smooth;
}

.grey-box .button-link div {
  @apply bg-vega-light-grey;
}

.dark .grey-box .button-link div {
  @apply bg-vega-box-grey;
}

@screen md {
  .contributor-block:nth-child(4n) .contributor-block-detail,
  .contributor-block:nth-child(4n + 1) .contributor-block-detail {
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }

  .contributor-block:nth-child(6n + 1) .contributor-block-detail {
    left: 0;
    right: auto;
    transform: none;
  }

  .contributor-block:nth-child(6n) .contributor-block-detail {
    right: 0;
    left: auto;
    transform: none;
  }
}

/* Customise Swiper for Markets components */

@layer utilities {
  .market-swiper .swiper-wrapper {
    @apply pb-space-7;
  }

  .market-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    @apply bottom-0;
  }

  .market-swiper .swiper-pagination {
    @apply !left-auto right-space-3 w-1/2 text-right;
  }

  .market-swiper .swiper-pagination-bullet {
    width: 15px;
    height: 2px;
    @apply rounded-none;
    @apply bg-vega-dark-100;
    @apply dark:bg-vega-light-100;
  }

  .market-swiper
    .swiper-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet,
  .market-swiper
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    @apply m-0.5;
  }
}

a {
  @apply transition-colors;
}

@layer utilities {
  /* 
   * Alpha Lyrae font uses "CALT" feature to create glitched effect.
   * This can be toggled using the following css property.
   * For more info about font see: https://github.com/vegaprotocol/alpha-lyrae
   */
  .font-glitched {
    font-variant-ligatures: contextual;
  }

  .font-not-glitched {
    font-variant-ligatures: none;
  }

  .font-glitch-all {
    font-feature-settings: 'ss01' on;
  }

  .copy-xxs {
    /* 15px */
    @apply text-[0.9375rem];
    @apply leading-[1.4];
    font-variant-ligatures: none;
  }

  .copy-xs {
    /* 18px */
    @apply text-[1.125rem];
    @apply leading-[1.4];
    font-variant-ligatures: none;
  }

  .copy-s {
    /* 24px */
    @apply text-[1.5rem];
    @apply leading-[1.4];
    font-variant-ligatures: none;
  }

  .copy-m {
    /* 34px */
    @apply text-[2.125rem];
    @apply leading-[1.2];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-l {
    /* 54px */
    @apply text-[3.375rem];
    @apply leading-[1.1];
    font-variant-ligatures: none;
  }

  .copy-xl {
    /* 72px */
    @apply text-[4.5rem];
    @apply leading-[1];
    font-variant-ligatures: none;
  }

  .copy-xxl {
    /* 84px */
    @apply text-[5.25rem];
    @apply leading-[1];
    font-variant-ligatures: none;
  }

  .copy-xxxl {
    /* 114px */
    @apply text-[7.125rem];
    @apply leading-[1];
    font-variant-ligatures: none;
  }

  .copy-xxxxl {
    /* 144px */
    @apply text-[9rem];
    @apply leading-[1];
    font-variant-ligatures: none;
  }

  .title-xxxs {
    /* 13px */
    @apply text-[0.9375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxs {
    /* 15px */
    @apply text-[0.9375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xs {
    /* 18px */
    @apply text-[1.125rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-s {
    /* 24px */
    @apply text-[1.5rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-m {
    /* 34px */
    @apply text-[2.125rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-l {
    /* 54px */
    @apply text-[3.375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xl {
    /* 72px */
    @apply text-[4.5rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxl {
    /* 84px */
    @apply text-[5.25rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxxl {
    /* 114px */
    @apply text-[7.125rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxxxl {
    /* 144px */
    @apply text-[9rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .transition-left {
    transition: left 0.5s;
  }

  *[class^='heading-'] {
    font-variant-ligatures: normal;
  }

  .heading-xxxs {
    @apply text-[0.75rem];
    @apply leading-[96%];
    @apply uppercase;
  }

  .heading-xxs {
    @apply text-[0.9375rem];
    @apply leading-[96%];
    @apply uppercase;
  }

  .heading-xs {
    @apply text-[1.25rem];
    @apply leading-[115%];
    @apply md:text-[1.375rem];
    @apply md:leading-[136%];
    @apply lg:text-[1.5rem];
    @apply lg:leading-[115%];
    font-variant-ligatures: none;
  }

  .heading-s {
    @apply text-[1.375rem];
    @apply leading-[88%];
    @apply uppercase;
    @apply lg:text-[1.5rem];
  }

  .heading-m {
    @apply text-[2rem];
    @apply leading-[88%];
    @apply uppercase;
    @apply md:text-[2.25rem];
    @apply lg:text-[2.5rem];
    @apply 2xl:text-[2.75rem];
  }

  .heading-l {
    @apply text-[2.5rem];
    @apply leading-[88%];
    @apply uppercase;
    @apply md:text-[3rem];
    @apply lg:text-[3.375rem];
    @apply 2xl:text-[4rem];
    @apply 2xl:leading-[82%];
  }

  .heading-xl {
    @apply text-[3.375rem];
    @apply leading-[82%];
    @apply uppercase;
    @apply md:text-[4.5rem];
    @apply 2xl:text-[5.875rem];
  }

  .heading-xxl {
    @apply text-[3.375rem];
    @apply leading-[82%];
    @apply uppercase;
    @apply md:text-[5.25rem];
    @apply lg:text-[6.375rem];
    @apply xl:text-[7.1875rem];
    @apply 2xl:text-[9rem];
  }

  .body-s {
    @apply text-[0.875rem];
    @apply leading-[112%];
  }

  .body-m {
    @apply text-[1rem];
    @apply leading-[136%];
  }

  .body-l {
    @apply text-[1.125rem];
    @apply leading-[136%];
  }

  .body-xl {
    @apply text-[1.25rem];
    @apply leading-[136%];
    @apply md:text-[1.375rem];
    @apply lg:text-[1.5rem];
  }

  .body-xxl {
    @apply text-[1.25rem];
    @apply leading-[136%];
    @apply md:text-[1.375rem];
    @apply lg:text-[1.5rem];
    @apply xl:text-[1.75rem];
    @apply 2xl:text-[2rem];
  }
}
