@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlphaLyrae";
  src: url("../fonts/AlphaLyrae-Medium.woff2");
}

html {
  background-color: #000000;
}

body {
  font-family: "AlphaLyrae", georgia, serif;
  font-variant-ligatures: none;
}

html,
body {
  scroll-behavior: smooth;
}

.grey-box .button-link div {
  @apply bg-vega-light-grey;
}

.dark .grey-box .button-link div {
  @apply bg-vega-box-grey;
}

/* sets correct placement of hover boxes in the contributors grid - a little too complex to do with tailwind */
.contributor-block .contributor-block-detail {
  left: 50%;
  right: 0;
  transform: translateX(-50%);
}

.contributor-block:nth-child(4n) .contributor-block-detail {
  right: 0;
  left: auto;
  transform: none;
}

.contributor-block:nth-child(4n + 1) .contributor-block-detail {
  left: 0;
  right: auto;
  transform: none;
}

@screen md {
  .contributor-block:nth-child(4n) .contributor-block-detail,
  .contributor-block:nth-child(4n + 1) .contributor-block-detail {
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }

  .contributor-block:nth-child(6n + 1) .contributor-block-detail {
    left: 0;
    right: auto;
    transform: none;
  }

  .contributor-block:nth-child(6n) .contributor-block-detail {
    right: 0;
    left: auto;
    transform: none;
  }
}

a {
  @apply transition-colors;
}

@layer utilities {
  /* 
   * Alpha Lyrae font uses "CALT" feature to create glitched effect.
   * This can be toggled using the following css property.
   * For more info about font see: https://github.com/vegaprotocol/alpha-lyrae
   */
  .font-glitched {
    font-variant-ligatures: contextual;
  }

  .font-not-glitched {
    font-variant-ligatures: none;
  }

  .font-glitch-all {
    font-feature-settings: "ss01" on;
  }

  .copy-xxs {
    /* 15px */
    @apply text-[0.9375rem];
    @apply leading-[1.4];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-xs {
    /* 18px */
    @apply text-[1.125rem];
    @apply leading-[1.4];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-s {
    /* 24px */
    @apply text-[1.5rem];
    @apply leading-[1.4];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-m {
    /* 34px */
    @apply text-[2.125rem];
    @apply leading-[1.2];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-l {
    /* 54px */
    @apply text-[3.375rem];
    @apply leading-[1.1];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-xl {
    /* 72px */
    @apply text-[4.5rem];
    @apply leading-[1];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-xxl {
    /* 84px */
    @apply text-[5.25rem];
    @apply leading-[1];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-xxxl {
    /* 114px */
    @apply text-[7.125rem];
    @apply leading-[1];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .copy-xxxxl {
    /* 144px */
    @apply text-[9rem];
    @apply leading-[1];
    @apply mb-4;
    font-variant-ligatures: none;
  }

  .title-xxxs {
    /* 13px */
    @apply text-[0.9375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxs {
    /* 15px */
    @apply text-[0.9375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xs {
    /* 18px */
    @apply text-[1.125rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-s {
    /* 24px */
    @apply text-[1.5rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-m {
    /* 34px */
    @apply text-[2.125rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-l {
    /* 54px */
    @apply text-[3.375rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xl {
    /* 72px */
    @apply text-[4.5rem];
    @apply leading-[0.9];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxl {
    /* 84px */
    @apply text-[5.25rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxxl {
    /* 114px */
    @apply text-[7.125rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .title-xxxxl {
    /* 144px */
    @apply text-[9rem];
    @apply leading-[0.85];
    @apply uppercase;
    font-variant-ligatures: normal;
  }

  .transition-left {
    transition: left 0.5s;
  }
}

.VegaTypewriter__cursor::after {
  position: relative;
  margin-bottom: -0.1em;
  display: inline-block;
  content: "";
  height: 0.85em;
  width: 0.55ch;
  background-image: url("/title-glitch-orange.png");
  background-size: cover;
  background-position: 50% 50%;
  animation: blink 1.5s steps(2, start) infinite;
}
