{{ $jobs := sort (where .Site.RegularPages "Section" "_job") ".File.LogicalName" }}
{{ if gt (len $jobs) 0 }}
  <ul class="jobs">
    {{range $index, $element := $jobs}}
      {{ $jobindex := add $index 1 }}
    <li class="job">
      <div class="job-header">
        <div class="title"><span class="number">{{ printf "%02d" $jobindex }}&nbsp;</span>{{.Title}}</div>
        <div class="job-toggle"></div>
      </div>
      <div class="job-details">
        <div class="grid">
          <div class="col-12 col-md-9">
            <div class="job-description">
              <p>{{$element.Description}}</p>
              <p><a href="{{.Permalink}}" class="call-to-action">View full spec</a></p>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="job-attributes">
              <div class="attribute">Start date:</div>
              <div class="value">{{.Params.startDate}}</div>
              <div class="attribute">Location:</div>
              <div class="value">{{.Params.location}}</div>
              <div class="attribute">Type:</div>
              <div class="value">{{.Params.contractType}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{end}}
  </ul>
{{else}}
  We have no open roles at the moment. Check back later!
{{end}}
